<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="layout :: htmlhead"></head>
	<body>
	<div class="container">
		<nav th:replace="layout :: menu">(menu)</nav>
		<a href="form.html" th:href="@{/filme/novo}" class="btn btn-outline-info btn-lg btn-block" role="button">Cadastrar novo personagem</a>
		<table class="table" id="filmes">
			<thead class="thead-light"> 
				<tr>
					<th scope="col">Personagem</th>
					<th scope="col">Obra</th>
					<th scope="col">G&ecircnero</th>
					<th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr scope="row" th:each="ofilme : ${filmes}">
					<td th:text="${ofilme.personagem}"></td>
					<td th:text="${ofilme.obra}"></td>
					<td th:text="${ofilme.genero}"></td>
					<td><a th:href="@{'/filme/alterar/' + ${ofilme.id}}" class="btn btn-outline-secondary btn-lg">Alterar</a>
					<button class='btn btn-outline-danger btn-lg js-delete'th:data-customer-id="${ofilme.id}">Excluir</button></td>
				</tr>
			</tbody>
		</table>
		</div>
		<div th:include="layout :: footer" id="footer">(footer)</div>
		
		<script type="text/javascript">
			$(document).ready(function(){
				$("#filmes").on("click", ".js-delete", function () {
					var button = $(this);
					
					bootbox.confirm("Tem certeza que deseja excluir este personagem?", 
							function (result){
						if (result) {
							$.ajax({
								url: "/filme/remover/" +
									button.attr("data-customer-id"),
								method:"GET",
								success: function () {
									window.location.href = "/filme"
								}
							});
						}
						
					});
				});
			});
		</script>
		
	</body>
</html>